body {
  margin: 0 auto;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}


/*start of HEADER section*/
header {
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  z-index: 1;
  padding: 0 10px;
}

.logo {
  height: 50px;
  flex-grow: 1;
  align-self: center;
  text-align: left;
}

nav {
  align-self: center;
  border: 1px solid red;
  align-content: space-around;
  padding: 10px;
}

a {
  color: seashell;
  margin: 5px;
}
/*end of HEADER section*/

.flex-container {
  display: flex;
}

/*start of MISSION section*/
.mission {
  height: 700px;
  width: 1200px;
  background-image: url("../../Resources/img-mission-background.jpg");
  position: relative;
  top: 70px;
}
/*end of MISSION section*/


/*start of TOTM section*/
.totm {
  width: 1000px;
}

.product {
  flex-direction: row wrap;
}

.product img {
  height: 200px;
  width: 300px;
  padding-bottom: 10px;
}
/*end of TOTM section*/


/*start of LOCATIONS section*/
.locations {
  background-image: url("../../Resources/img-locations-background.jpg");
  flex-flow: row wrap;
  }

.store {
  background-color: black;
  opacity: 1;
  width: 300px;
}
/*end of LOCATIONS section*/

.contact {
  height: 200px;
  display: flex;
  flex-direction: column;
}

footer {
  text-align: left;
  padding-left: 20px;
}
