body {
  margin: 0 auto;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}


          /* HEADER section */
header {
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  z-index: 1;
  padding: 0 10px;
}

.logo {
  height: 50px;
  flex-grow: 1;
  align-self: center;
  text-align: left;
}

nav {
  align-self: center;
  align-content: space-around;
  padding: 15px;
}

a {
  color: seashell;
  margin: 5px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


            /* MISSION section */
#mission {
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  background-image: url("../../Resources/img-mission-background.jpg");
  display: flex;
  position: relative;
  top: 70px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.missioncontent {
  background-color: black;
  width: 100%;
  margin: 0 auto;
}

.missioncontent h2 {
  margin: 10px auto 20px auto;
}

.missioncontent h4 {
  margin: 10px auto;
}

        /* TOTM section */
#totm {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px auto 60px auto;
}

.totmcontent {
  margin-bottom: 40px;
}

.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.product {
  width: 300px;
  margin: 15px;
}

.product img {
  height: 200px;
  padding-bottom: 10px;
}

        /* LOCATIONS section */
.locations {
  background-image: url("../../Resources/img-locations-background.jpg");
  flex-flow: row wrap;
  }

.store {
  background-color: black;
  opacity: 1;
  width: 300px;
}

        /* CONTACT section */
.contact {
  height: 200px;
  display: flex;
  flex-direction: column;
}

footer {
  text-align: left;
  padding-left: 20px;
}
